@model IEnumerable<DeliveryServiceWebDBServer.Models.DistributionCentre>
@using DeliveryServiceWebDBServer.Models

@{
    ViewBag.Title = "Настройки";
}
@Html.Partial("~/Views/AdminSettings/_SettingsMenu.cshtml")

<h4>Пункты выдачи</h4>
<form class="navbar-form navbar-left" action="~/AdminSettings/CreateCentre">
    <button class="btn btn-default">Добавить</button>
</form>

@if (Model.Count() == 0)
{<p>Нет данных</p>}
else
{
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Индекс</th>
            <th>Страна, регион, город</th>
            <th>Адрес</th>
            <th>Описание</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Region.Country.NameCountry), @Html.DisplayFor(modelItem => item.City.Region.NameRegion), @Html.DisplayFor(modelItem => item.City.NameCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}