@model IEnumerable<DeliveryServiceWebDBServer.Models.Tariff>

@{
    ViewBag.Title = "Настройки";
}
@Html.Partial("~/Views/AdminSettings/_SettingsMenu.cshtml")



<h4>Тарифы</h4>
<form class="navbar-form navbar-left" action="~/AdminSettings/CreateTariff">
    <button class="btn btn-default">Добавить</button>
</form>
@if (Model == null || Model.Count() == 0)
{<p>
        Нет созданных тарифов
    </p>}
else
{
    <table class="table">
        <tr>
            <th>Тариф</th>
            <th>Описание</th>
            <th>Формула</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Formula)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "EditTariff", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Удалить", "DeleteTariff", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
